body {

	background-color: darkgreen;	

}

h1 {
	text-align: center;
}

#album {
	background-color: white;
	-webkit-border-radius: 15px;
	padding: 10px;
	width: 800px;
	margin: auto;
}

#album img {
	float: left;
	padding: 5px;
}

#main {
    background-color: white;
    -webkit-border-radius: 15px;
    padding: 10px;
    width: 400px;
	margin:  auto;
}

.column {
	position: relative;
	float: left;
	width: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
	font: 1.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

ul a {
	text-decoration: none;
	color: black;
}

li {
    text-align: center;
}