<html>
<head>
  <title> {{album["title"]}}</title>
  <link rel="stylesheet" href="/static/hack.css" type="text/css">
</head>
<body>

<h1>{{album["title"]}}</h1>

<h2> {{hello}}</h2>

<img src="{{image_url}}">

<p>{{album["primaryReview"]["text"]}}</p>

<p>Themes are:</p>

{% for desc in album["themes"] %}

<p> {{desc["id"]}} {{desc["name"]}} {{desc["weight"]}} </p>

<ul>
	{% for albumresponse in theme_hash[desc["id"]] %}
		<li>{{albumresponse["album"]["title"]}}</li>
	{% endfor %}
</ul>

{% endfor %}


<p>Moods are:</p>

{% for desc in album["moods"] %}

<p> {{desc["id"]}} {{desc["name"]}} {{desc["weight"]}} </p>
<ul>
	{% for albumresponse in mood_hash[desc["id"]] %}
		<li>{{albumresponse["album"]["title"]}}</li>
	{% endfor %}
</ul>

{% endfor %}


<p>Styles are:</p>

{% for desc in album["styles"] %}

<p> {{desc["id"]}} {{desc["name"]}}</p>
<ul>
	{% for albumresponse in style_hash[desc["id"]] %}
		<li>{{albumresponse["album"]["title"]}}</li>
	{% endfor %}
</ul>

{% endfor %}



</body>
</html>
