<html>
<head>
  <title> {{album["title"]}}</title>
  <link rel="stylesheet" href="/static/hack.css" type="text/css">
</head>
<body>
<div id="album">
<h1>{{album["primaryArtists"][0]["name"]}} :: {{album["title"]}}</h1>

<img src="{{image_url}}">

<p>{{album["primaryReview"]["text"]}}</p>

<p>Styles are:</p>

{% for style, responselist in style_hash.iteritems() %}
	<div class="column">
	<p>{{style}}</p>
	<ul>
	{% for albumid in responselist %}
		<li><a href='/show/album/{{albumid}}'><img src='{{image_map[albumid]}}'></a></li>
	{% endfor %}
	</ul>
	</div>
{% endfor %}


<br/>

</body>
</html>
