<html>
<head>
  <title> {{album["title"]}}</title>
  <link rel="stylesheet" href="/static/hack.css" type="text/css">
</head>
<body>

<h1>{{album["title"]}}</h1>

<h2> {{hello}}</h2>

<img src="{{image_url}}">

<p>{{album["primaryReview"]["text"]}}</p>


<p>Styles are:</p>

{% for desc in album["styles"] %}

<p> {{desc["id"]}} {{desc["name"]}}</p>
<ul>
	{% for albumresponse in style_hash[desc["id"]] %}
		<li><a href='/show/album/{{albumresponse["id"]}}'>{{albumresponse["album"]["title"]}}</a></li>
	{% endfor %}
</ul>

{% endfor %}



</body>
</html>
