<html>
<head>
  <title>Christmas Music Hack</title>
  <link rel="stylesheet" href="/static/hack.css" type="text/css">
</head>
<body>
<center>

<div class="main">
  <h1><img src='http://www.animatedgif.net/seasonal/xmas/dancingsanta_e0.gif' align='left'>Rovi Christmas Findr<img src='http://www.animatedgif.net/seasonal/xmas/dancingsanta_e0.gif' align='right'></h1>
  <h3>Explore the Christmas music available from the Rovi database. To start, please select the music Genere you'd like to explore</h3>
  	
  	
 <br/>
  <ul>
  {% for key, val in facet_hash.iteritems() %}
		<li><a href="{{url_for('album_from_genre', genreid=val)}}">{{key}}</a></li>
  {% endfor %}  
  </ul>
  
  <h1><img src='http://webdeveloper.com/animations/holiday/christmas/gifs/elf_pulling_xmas_tree_2.gif' align='left'>Dig Even Deeper!
  	<img src='http://webdeveloper.com/animations/holiday/christmas/gifs/elf_pulling_xmas_tree_2.gif' align='right'>
  	</h1>
  	<br/>
  	<br/>
  	<br/>
  <ul>
 {% for style in alpha_styles %}
		<li><a href="{{url_for('album_from_style', genreid=reverse_style_map[style])}}">{{style}}</a></li>
  {% endfor %}    	
  </ul>
</div>	
</center>
</body>
</html>
