<html>
<head>
  <title>Christmas Music Hack</title>
  <link rel="stylesheet" href="/static/hack.css" type="text/css">
</head>
<body>


<div id="main">
  <h1>Christmas Music</h1>
  <p>Explore the Christmas music available from the Rovi database. To start, please select the music Genere you'd like to explore</p>
  <ul>
  {% for key, val in facet_hash.iteritems() %}
		<li><a href="/show/albumfromgenre/{{val}}">{{key}}</a></li>
  {% endfor %}  
  </ul>
  <p>Even Deeper!</p>
  <ul>
 {% for style in alpha_styles %}
		<li><a href="/show/albumfromstyle/{{reverse_style_map[style]}}">{{style}}</a></li>
  {% endfor %}    	
  </ul>
</div>	
</body>
</html>
